@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);
@import "https://fonts.googleapis.com/css?family=PT+Sans";
* {
  margin: 0;
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'League Spartan';
  src: url("../fonts/leaguespartan-bold.eot");
  src: url("../fonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold.woff2") format("woff2"), url("../fonts/leaguespartan-bold.woff") format("woff"), url("../fonts/leaguespartan-bold.ttf") format("truetype"), url("../fonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875em;
  color: #000; }
  body.dark {
    background: #191F23;
    color: #fff; }

html, body, #wrapper {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px; }

button, select, input, label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875em;
  outline: none; }

button, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

button {
  border: none;
  color: white;
  padding: 8px 16px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  background-color: #464b57;
  transition: all 0.2s ease;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }
  button:hover, button.active {
    background-color: #3dc8e7; }
    .time-mode button:hover, .time-mode button.active {
      background-color: #3dc8e7; }
    .missing-mode button:hover, .missing-mode button.active {
      background-color: #ff5050; }
    .infrastructure-mode button:hover, .infrastructure-mode button.active {
      background-color: #099; }
  button:disabled {
    background-color: #eee !important;
    cursor: default; }
  .dark button {
    background-color: #242E34; }
    .dark button:hover, .dark button.active {
      background-color: #4B565F; }

[type=range] {
  -webkit-appearance: none;
  margin: 7px 0;
  width: 100%;
  background-color: transparent; }
  [type=range]:focus {
    outline: none; }
  [type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #648AA0;
    border-radius: 5px; }
  [type=range]::-webkit-slider-thumb {
    border: 3px solid #191F23;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none;
    margin-top: -4.5px; }
    .dark [type=range]::-webkit-slider-thumb {
      background: #191F23;
      border-color: #fff; }
  [type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #648AA0;
    border-radius: 5px; }
  [type=range]::-moz-range-thumb {
    border: 3px solid #191F23;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box; }
    .dark [type=range]::-moz-range-thumb {
      background: #191F23;
      border-color: #fff; }
  [type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: transparent;
    border-color: transparent;
    border-width: 14px 0;
    color: transparent; }
  [type=range]::-ms-fill-lower {
    border-radius: 10px; }
  [type=range]::-ms-fill-upper {
    background: #648AA0;
    border-radius: 10px; }
  [type=range]::-ms-thumb {
    border: 3px solid #191F23;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box; }
    .dark [type=range]::-ms-thumb {
      background: #191F23;
      border-color: #fff; }
  [type=range]:focus::-ms-fill-lower {
    background: #648AA0; }

.modal {
  position: fixed;
  background: #fff;
  padding: 0;
  z-index: 3000;
  max-width: 260px;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /*display: flex;*/
  /*flex-direction: column;*/
  opacity: 1; }
  .modal h2, .modal h3, .modal h4, .modal h5 {
    margin-bottom: 10px; }
  .dark .modal {
    background: #191F23; }
  .modal.disabled {
    opacity: 0;
    pointer-events: none; }

.close {
  overflow: hidden;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px; }
  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #191F23;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .close:hover::before, .close:hover::after {
    background: #3dc8e7; }
  .dark .close::before, .dark .close::after {
    background: #fff; }
  .dark .close:hover::before, .dark .close:hover::after {
    background: #3dc8e7; }

#map {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto auto;
  overflow: visible; }
  #map.disabled, #map.disabled svg {
    cursor: default; }

.mapboxgl-canvas,
.mapboxgl-control-container {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  .mapboxgl-canvas.hidden,
  .mapboxgl-control-container.hidden {
    opacity: 0.08;
    pointer-events: none; }

svg {
  position: absolute;
  width: 100%;
  height: 100%; }
  svg.map-morphed {
    overflow: visible; }

.map-features > g {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s; }
  .map-features > g.disabled {
    opacity: 0;
    pointer-events: none; }

path {
  vector-effect: non-scaling-stroke;
  stroke: black;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round; }
  path.route, path.distance {
    stroke: #099; }
  path.time {
    stroke: #3dc8e7; }
  path.foot {
    stroke-dasharray: 4, 10; }

text {
  font-family: "Source Sans Pro", sans-serif;
  fill: #000; }
  .dark text {
    fill: #fff; }
  text.title {
    font-weight: 600; }

.villages {
  cursor: pointer;
  fill: #ff5050;
  stroke: none; }
  .villages .selected {
    fill: #099; }
  .villages circle {
    fill-opacity: 0.6; }
    .villages circle:hover, .villages circle.active {
      fill-opacity: 1.0;
      transition: fill-opacity 0.6s; }

.village {
  cursor: pointer;
  fill: #ff5050;
  stroke: none;
  fill-opacity: 0.6;
  transition: fill-opacity 0.6s; }
  .village:hover, .village.active {
    fill-opacity: 1.0; }
  .village.selected {
    fill: #099; }

.village-group .nearest-road {
  fill: #ff5050; }
.village-group .missing {
  stroke-width: 2;
  stroke: #ff5050;
  stroke-dasharray: 0,4;
  /*stroke-dasharray: 1,1;*/
  stroke-linecap: round; }

.isoline {
  fill: #3dc8e7;
  fill-opacity: 0.35;
  stroke-width: 0;
  /*stroke: $color-isoline;*/
  transition: fill-opacity 0.3s ease; }
  .isoline:hover {
    fill-opacity: 0.25; }

#isolines, #isolines * {
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.route {
  stroke-width: 3; }

.route-dots {
  fill: #099;
  fill-opacity: 0.5; }

.route-lines {
  stroke-opacity: 0.6; }

.ui-brush {
  background: #f8f8f8;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px; }

.brush .extent {
  stroke: #fff;
  fill-opacity: 0.125;
  shape-rendering: crispEdges; }

.layoutdebug {
  fill: rgba(255, 0, 255, 0.3); }

#loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  opacity: 0;
  transition: opacity 1s; }
  .dark #loader {
    background: #191F23; }
  #loader.show {
    opacity: 1; }
    #loader.show .spinner {
      opacity: 1; }
  #loader.displayed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  #loader > div {
    width: 100%; }
  #loader .spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #3dc8e7;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out; }
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
.modal {
  padding: 0;
  width: 155px;
  max-width: none; }
  .modal > *:not(.close) {
    padding: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

#nav {
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }
  #nav #page-title {
    margin-top: 5px; }
    #nav #page-title > * {
      font-size: 0.933rem;
      margin-bottom: 0;
      border-left: 3px solid #3dc8e7;
      padding-left: 6px;
      letter-spacing: 0.5px;
      line-height: 1em;
      padding-bottom: 3px; }
      #nav #page-title > *:last-child {
        padding-bottom: 0; }
  #nav button {
    display: block;
    width: 115px;
    height: 115px;
    text-indent: -9999px;
    padding: 0; }
  #nav #modes button {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    margin-bottom: 10px; }
    #nav #modes button.routesfromvalledupar {
      background-image: url("../img/icon-routes.svg");
      background-position: center center;
      background-repeat: no-repeat; }
    #nav #modes button.missinginfrastructure {
      background-image: url("../img/icon-missing.svg");
      background-position: center center;
      background-repeat: no-repeat; }
    #nav #modes button.isolines {
      background-image: url("../img/icon-isolines.svg");
      background-position: center center;
      background-repeat: no-repeat; }
  #nav #modes label {
    text-align: center;
    display: block;
    margin-bottom: 25px; }
  #nav #view {
    padding: 0; }
    #nav #view .button-wrapper {
      display: block;
      width: 155px;
      height: 155px; }
    #nav #view button {
      background-image: url("../img/icon-small-multiples.svg");
      background-position: center 44px;
      background-repeat: no-repeat;
      background-color: transparent;
      display: block;
      width: 100%;
      height: 100%; }
      #nav #view button.active, #nav #view button:hover {
        background-color: #3dc8e7; }
        .dark #nav #view button.active, .dark #nav #view button:hover {
          background-color: #4B565F; }
    #nav #view label {
      position: absolute;
      bottom: 35px;
      width: 100%;
      text-align: center;
      display: block; }

#isolines-ui {
  bottom: 0;
  left: 50%; }
  #isolines-ui .range-wrapper {
    margin: 0; }
  #isolines-ui #range__slider {
    display: block;
    padding: 5px 0;
    margin: 0; }
  #isolines-ui #range {
    display: block;
    text-align: center;
    margin-top: 15px; }

#info {
  right: -30vw;
  top: 0;
  opacity: 0;
  width: 30vw;
  height: 100%;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  #info.show {
    right: 0;
    opacity: 1; }
  #info .content {
    padding: 30px 40px; }

#filters {
  top: 1vw;
  right: 1vw;
  /*right: 1vw;*/
  background: transparent;
  width: auto;
  max-width: none;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; }
  #filters h3, #filters h4 {
    display: inline-block;
    margin-right: 10px; }
  #filters button {
    display: inline-block;
    margin-bottom: 0; }

.mapboxgl-ctrl {
  display: none; }
