////////////////////////////////////
// DIGENTI Accessibility App Vars
////////////////////////////////////

$offline: false;

$button-size: 115px;
$button-margin: 20px;
$modal-padding-tb: 15px;
$modal-padding-rl: 20px;
$modal-width: $button-size + 2*$modal-padding-rl;

// $info-width: 22vw;
$info-width: 100%;
$info-height: 20vh;

$legend-width: 150px; //auto;
$legend-padding: 10px; //auto;
