///////////////////////////////
// DIGENTI Accessibility App
///////////////////////////////

// This is the main style for the Accessibility App

/////////////
// Imports
/////////////

// Base file for all apps and prototypes
@import '../../digenti-framework/scss/base';

// vars must be imported before the base-app.
// base-app contains basic layouting for all DIGENTI apps (Accessibility, Risk, RePlan)
@import 'vars'; // Keep this vars
@import '../../digenti-framework/scss/base-app';


//////////////////
// Main sidebar
//////////////////

#nav {

    background-color: transparent;

    // Buttons
    // #modes {
    //     button {
    //         &#routesfromvalledupar {
    //             @include background-image('../img/icon-routes.svg', center center);
    //         }
    //
    //         &#missinginfrastructure {
    //             @include background-image('../img/icon-missing.svg', center center);
    //         }
    //
    //         &#isolines {
    //             @include background-image('../img/icon-isolines.svg', center center);
    //         }
    //     }
    // }

    // Map view <> Small multiples view
    #view {
        padding: 0;

        .button-wrapper {
            @include block($modal-width, $modal-width);
        }

        button {
            @include background-image('../img/icon-small-multiples.svg', center 2.2*$modal-padding);
            background-color: transparent;
            @include expand();

            &.active,
            &:hover {
                background-color: $color-active;
                .dark & {
                    background-color: $color-active-dark;
                }
            }

            .tabletop &:hover {
                background-color: transparent !important;
            }

            .tabletop &.active {
                background-color: $color-active !important;
            }

            .tabletop.dark &.active {
                background-color: $color-active-dark !important;
            }
        }

        label {
            position: absolute;
            bottom: $modal-padding + 15px;
            width: 100%;

            text-align: center;
            display: block;
        }
    }
}

////////////
// Legend
////////////

#legend {
    bottom: 10px;
    right: 10px;
}

/////////////////
// Isolines UI
/////////////////

#isolines-ui {
    bottom: 0;
    left: 50%;
    opacity: 1 !important;

    #range__slider {
        display: block;
        padding: 5px 0;
        margin: 0;
    }

    #range {
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    &.disabled {
        bottom: -70px;
    }
}


.map-features > g > g.isoline-group {
    opacity: 0;
}

.map-features > g > g.selectedSettlement {
    opacity: 1;
}
