///////////////////////////////
// DIGENTI Accessibility App
///////////////////////////////

// This is the main style for the Accessibility App

/////////////
// Imports
/////////////

// Base file for all apps and prototypes
@import '../../digenti-framework/scss/base';

// vars must be imported before the base-app.
// base-app contains basic layouting for all DIGENTI apps (Accessibility, Risk, RePlan)
@import 'vars'; // Keep this vars
@import '../../digenti-framework/scss/base-app';



//////////////////
// Main sidebar
//////////////////

#nav {

    background-color: transparent;

    // Buttons
    // #modes {
    //     button {
    //         &#routesfromvalledupar {
    //             @include background-image('../img/icon-routes.svg', center center);
    //         }
    //
    //         &#missinginfrastructure {
    //             @include background-image('../img/icon-missing.svg', center center);
    //         }
    //
    //         &#isolines {
    //             @include background-image('../img/icon-isolines.svg', center center);
    //         }
    //     }
    // }

    // Map view <> Small multiples view
    #view {
        padding: 0;

        $view-padding: $modal-padding-rl + 10px;
        $button-size: 70px;

        .button-wrapper {
            position: relative;
            // @include block($modal-width, $modal-width);
            @include block($button-size + 2*$view-padding, $button-size + 2*$view-padding);
        }

        button {
            @include background-image('../img/icon-small-multiples.svg', center $view-padding);
            background-color: transparent;
            @include expand();

            &.active,
            &:hover {
                background-color: $color-active;
                .dark & {
                    background-color: $color-active-dark;
                }
            }

            .tabletop &:hover {
                background-color: transparent !important;
            }

            .tabletop &.active {
                background-color: $color-active !important;
            }

            .tabletop.dark &.active {
                background-color: $color-active-dark !important;
            }
        }

        label {
            position: absolute;
            // bottom: $modal-padding-rl + 15px;
            // width: 100%;
            // text-align: center;
            bottom: $view-padding + 2px;
            // top: $button-size + 5px;
            left: $view-padding;
            text-align: left;
            display: block;
        }
    }
}

////////////
// Legend
////////////

#legend {
    top: 10px;
    right: 10px;
    width: auto;

    h2 {
        margin-bottom: 25px;
    }

    .routes {
        @include background-image('../img/legend-routes.svg', left top);
        display: block;
        width: 123px;
        height: 233px;
    }

    .road-load {
        @include background-image('../img/legend-road-load.svg', left top);
        display: block;
        width: 166px;
        height: 44px;
    }

    .legend-item {
        margin-bottom: 30px;
        h3, h4 {
            margin-bottom: 15px;
        }
    }
}

// #legend-test {
//     @include background-image('../img/legend.png', center top);
//     display: block;
//     width: 202px;
//     height: 476px;
//     position: fixed;
//     top: 10px;
//     right: 10px;
//     z-index: 9999;
// }

/////////////////
// Isolines UI
/////////////////

#isolines-ui {
    bottom: 0;
    left: 50%;
    opacity: 1 !important;

    #range__slider {
        display: block;
        padding: 5px 0;
        margin: 0;
    }

    #range {
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    &.disabled {
        bottom: -70px;
    }
}
