////////////////////////////////////
// DIGENTI Accessibility App Vars
////////////////////////////////////

$offline: false;

$button-size: 115px;
$button-margin: 20px;
$modal-padding: 20px;
$modal-width: $button-size + 2*$modal-padding;

$info-width: 25vw;
